APP_PORT=8080

# Source DB (Postgres 1)
SOURCE_DB_HOST=localhost
SOURCE_DB_PORT=5432
SOURCE_DB_NAME=laravel_db
SOURCE_DB_USER=postgres
SOURCE_DB_PASS=postgres

# Target Config (postgres, clickhouse, or both)
TARGET_DB=postgres

# Target DB (Postgres 2)
REPORT_DB_HOST=localhost
REPORT_DB_PORT=5433
REPORT_DB_NAME=reporting_db
REPORT_DB_USER=postgres
REPORT_DB_PASS=postgres

# Target DB (ClickHouse)
CLICKHOUSE_HOST=http://localhost:8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=default

# Target DB (MongoDB)
MONGO_DB_HOST=mongodb
MONGO_DB_PORT=27017
MONGO_DB_NAME=testing_db
MONGO_DB_USER=root
MONGO_DB_PASS=rootpassword