APP_PORT=3000

SOURCE_DB_HOST=127.0.0.1
SOURCE_DB_PORT=5432
SOURCE_DB_NAME=laravel_db
SOURCE_DB_USER=postgres
SOURCE_DB_PASS=secret

REPORT_DB_HOST=127.0.0.1
REPORT_DB_PORT=5432
REPORT_DB_NAME=reporting_db
REPORT_DB_USER=postgres
REPORT_DB_PASS=secret